.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}

.d-flex.justify-content-center.gy-3.mb-3 {
  flex-direction: column;
}

@media (min-width: 768px) {
  .d-flex.justify-content-center.gy-3.mb-3 {
    flex-direction: row;
  }
}
